@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
}

body {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 16px;
    color: #424551;
    line-height: 25.6px;
}

h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 59.8px;
    color: #1E212C;
}

.top-section__title {
    margin-bottom: 40px;
}

.top-section__text {
    margin-bottom: 48px;
}

h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 24px;
}

.top-section__list li {
    padding-left: 32px;
    margin-bottom: 4px;
    background: url(../img/icons/check.svg) 0 6px no-repeat;

}

.top-section__list {
    margin-bottom: 200px;
}

.low-section__inform-text {
    font-weight: 700;
    line-height: 24px;
    color: #1E212C;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.low-section__title {
    margin-bottom: 16px;
}

.low-section__add-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #787A80;
    margin-bottom: 32px;
}

.low-section__list li {
    font-weight: 700;
    padding-left: 24px;
    margin-bottom: 4px;
}

.low-section__list li:nth-child(1) {
    background: url(../img/icons/star.svg) 0 6px no-repeat;
}

.low-section__list li:nth-child(2) {
    background: url(../img/icons/play.svg) 0 6px no-repeat;
}

.low-section__list li:nth-child(3) {
    background: url(../img/icons/profile.svg) 0 6px no-repeat;
}

.low-section__list {
    margin-bottom: 32px;
}

.low-section__text {
    margin-bottom: 40px;
}

.practise__hover:hover {
    color: aqua;
}

.practise__active:active {
    background-color: red;
}

.practise__visited a:visited {
    color: red;
}

.practise__focus a:focus {
    color: yellow;
    border: 1px solid red;
}

#test-target {
    display: none;
    background-color: green;
}

#test-target:target {
    display: block;
}

.practise__not p:not(:last-child) {
    color: red;
    background-color: green;
}

.practise__first-childblock p:first-child{
text-transform: uppercase;
color: aqua;
}

.practise__first-of-typeblock a:first-of-type{
    color: red;
}

.practise__last-childblock p:last-child{
    text-transform: uppercase;
    color: aqua;
    }
    
 .practise__last-of-typeblock a:last-of-type{
    color: magenta;
}

.practise__before-block::before {
    content: "Tekst before";
    color: red;
}
.practise__after-block::after {
    content: "Tekst after";
    color: red;
}

